<div class="border-b-2 bg-gray-200 text-gray-500 rounded-t-md">
  <span class="px-2 text-xs font-medium">{{ text }}</span>
  <select
  (change)="onSelectChange($event)"
    class="w-full px-2 pb-2 text-xl outline-none font-semibold bg-gray-200"
  >
    <!-- TODO: If new workout is not listed, allow users to create a new one -->
    <!-- TODO: Select multiple workout at one time -->
    <option value="">All</option>
    <option value="cycling">Cycling</option>
    <option value="running">Running</option>
    <option value="swimming">Swimming</option>
    <option value="yoga">Yoga</option>
  </select>
</div>
